* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darksalmon;
}

span {
    display: inline-block;
}

.box-wrapper {
    width: 400px;
    height: 500px;
    background-color: bisque;
    margin: auto;
    margin-top: 150px;
    position: relative;
}

.text-wrapper {
    width: 100%;
    height: 60px;
    padding-top: 25px;
}

img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 90px;
    transform: rotate(18deg);
}

.text {
    margin: 8px 191px;
    text-align: center;
    width: 115px;
    height: 35px;
    line-height: 35px;
    background-color: coral;
    font-family: 华文彩云;
    font-size: 27px;
    border-radius: 7px 7px 30% 7px;
    transform: rotate(-4deg);
}

hr {
    margin-top: 35px;
}

.line {
    text-align: center;
    margin: 10px 0;
}

.title-wrapper {
    width: 100%;
    height: 70px;
    /* background-color: antiquewhite; */
    text-align: center;
    line-height: 70px;
}

.title {
    width: 200px;
    height: 32px;
    border: none;
    border-bottom: 2px dashed coral;
    background-color: bisque;
    color: grey;
    outline: none;
}

.add {
    width: 80px;
    height: 32px;
    font-family: 华文行楷;
    font-size: 30px;
    border: 3px solid black;
    transform: rotate(6deg);
    border-radius: 40px;
}

li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    list-style: none;
    padding-left: 30px;
    color: black;
    position: relative;
    transform: rotateX(360deg);
}

.del {
    position: absolute;
    left: 295px;
    cursor: pointer;
}

.btn-wrapper {
    position: absolute;
    bottom: 28px;
    left: 46px;
    font-size: 12px;
}

span {
    padding: 0 5px;
    cursor: pointer;
}

.zjn {
    transform: rotateX(180deg);
    transition: 3s;
    background: red;
}

.zjn123 {
    transform: rotateX(180deg);
    /* background-color: blue; */
}

.zjn567 {
    transform: rotateX(-180deg);
}

